<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-receipe-item *ngFor="let recipeEl of recipies; let i = index" [recipe]="recipeEl" [index]="i"></app-receipe-item>
  </div>
</div>