<div dir="ltr" style="text-align: left;" trbidi="on">
  <br />
  <div style="background-color: white; box-sizing: border-box; color: #333333; font-family: 'helvetica neue' , 'helvetica' , 'segoe ui' , 'arial' , 'freesans' , 'sans-serif'; font-size: 16px; line-height: 30px; margin-bottom: 16px;">
    <h1>
      Transfer data using sync adapters </h1>
    <br /> Synchronizing data between an Android device and web servers can make your application significantly more useful and
    compelling for your users.
    <br />
    <h3>
      <b>What is SyncAdapter ? </b>
    </h3>
    In simple terms SyncAdapter is standard and preferred way to sync application data with server, cloud or MBaaS backend. SyncAdapter
    is the most efficient way to make your application up-to-date. It helps you to provide fresh data when user starts an
    application. By using this, you can improve your user experience by not making wait to user till you call web service
    and fetch the data. Popular android applications like google, twitter, whatsapp facebook, etc. use SyncAdapter. You can
    check this by going to Setting -&gt; Account.
    <br />
    <br />
    <h3>
      <b>Why SyncAdapter ? </b>
    </h3>
    Although you can design your own system or structure for doing data transfers in your app, you should consider using Android's
    sync adapter framework. This framework helps manage and automate data transfers, and coordinates synchronization operations
    across different apps. When you use this framework, you can take advantage of several features that aren't available
    to data transfer schemes you design yourself:
    <br />
    <br />
    <b>Plug-in architecture</b>
    <br /> Allows you to add data transfer code to the system in the form of callable components.
    <br />
    <b> Automated execution</b>
    <br /> Allows you to automate data transfer based on a variety of criteria, including data changes, elapsed time, or time of
    day. In addition, the system adds transfers that are unable to run to a queue, and runs them when possible.
    <br />
    <b>Automated network checking</b>
    <br /> The system only runs your data transfer when the device has network connectivity.
    <br />
    <b>Improved battery performance</b>
    <br /> Allows you to centralize all of your app's data transfer tasks in one place, so that they all run at the same time.
    Your data transfer is also scheduled in conjunction with data transfers from other apps. These factors reduce the number
    of times the system has to switch on the network, which reduces battery usage.
    <br />
    <b>Account management and authentication</b>
    <br /> If your app requires user credentials or server login, you can optionally integrate account management and authentication
    into your data transfer.
    <br />
    <br />
    <b>
      <i>
        Note: Sync adapters run asynchronously, so you should use them with the expectation that they transfer data regularly and
        efficiently, but not instantaneously. If you need to do real-time data transfer, you should do it in an AsyncTask
        or an IntentService.</i>
    </b>
    <br />
    <br />
    <h3>
      How SyncAdapter Works ?</h3>
    <div class="separator" style="clear: both; text-align: center;">
      <img border="0" data-original-height="590" data-original-width="1280" height="294" src="https://4.bp.blogspot.com/-HXZjXYxrjgM/WzY529MNFkI/AAAAAAAABVc/8oXLeg44MJo4mr0UEN0BpesYrdfoNnvMgCLcBGAs/s640/Sync%2BAdapter.jpg"
        width="640" />
    </div>
    <br /> You can find SyncAdapter Demo provided By Google here.
    <a href="https://github.com/googlesamples/android-BasicSyncAdapter">Android BasicSyncAdapter Sample</a>
  </div>
</div>

<!-- <div style="background-color: white; box-sizing: border-box; 
color: #333333; font-family: 'helvetica neue' , 'helvetica' , 'segoe ui' , 'arial' , 'freesans' , 'sans-serif'; 
font-size: 16px; line-height: 30px; margin-bottom: 16px;">

  <h1>Android Components</h1>
  <br/>
  <p>App components are the essential building blocks of an Android app. Each component is an entry point through which the
    system or a user can enter your app. Some components depend on others.
  </p>
  <br/>
  <p>
    Before the Android system can start an app component, the system must know that the component exists by reading the app's
    manifest file, AndroidManifest.xml. Your app must declare all its components in this file, which must be at the root
    of the app project directory.
  </p>
  <br/>

  <div class="col-xs-12">
    <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive" style="max-height: 300px">
  </div>
</div>l̥ -->

<!-- <div style="background-color: white; box-sizing: border-box; text-align: center;
color: #333333; font-family: 'helvetica neue' , 'helvetica' , 'segoe ui' , 'arial' , 'freesans' , 'sans-serif'; 
font-size: 16px; line-height: 30px; margin-bottom: 16px;">

  <p style="color: black; font-size: 30px; line-height: 50px; margin-bottom: 16px;">Sorry, we could not find any page in this address.</p>
  <p style="color: #333333;">Seems like the internet or the link might be broken.</p>

  <div style="color: black;"><a href="https://androidacademic.blogspot.com/"> Visit Android Academic Blog</a></div>
</div> -->`